.detail_main {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.detail_top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.detail_top h1 {
  margin-bottom: 20px;
}

.save {
  display: flex;
  gap: 10px;
}

.save > p {
  font-size: 14px;
}

.save > img {
  width: 20px;
  height: 20px;
}

.gallery-container {
  display: flex;
  gap: 10px;
}

.gallery-item-large {
  flex: 1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
}

.gallery-item {
  flex: 1 1 calc(50% - 10px);
  aspect-ratio: 1;
}

.gallery-item-large img,
.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

// left
.detail_mid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail_left {
  width: 50%;
  // height: 100vh;
  overflow: hidden; /* 스크롤 제거 */
}

.detail_title {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.detail_title p {
  margin-bottom: 20px;
}

.detail_info {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.profile1 > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile2 > p {
  font-size: 14px;
}

.details {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.detail_info2 {
  display: flex;
  gap: 20px;
}

.info2_icon {
  margin-top: 20px;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.info2 {
  margin-top: 20px;
  margin-left: 5px;
}

.info2 > p {
  font-size: 14px;
}

.info_text {
  border-top: 1px solid #ccc;
}

.info_text > p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.info_place {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.info_place > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_place .place {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* 아이템이 한 줄에 넘치면 다음 줄로 넘어가게 설정 */
}

.info_place .place section {
  flex: 1 1 45%; /* 아이템 크기를 고정하고 유연하게 설정 */
  min-width: 200px; /* 최소 너비 설정 */
  max-width: 45%; /* 최대 너비 설정 */
  box-sizing: border-box;
}

.info_place .place section > img {
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%; /* 이미지 너비를 섹션에 맞게 조정 */
  height: auto; /* 이미지 비율 유지 */
}

.info_place .place section > h3 {
  font-size: 16px;
}

.info_place .place section > p {
  font-size: 14px;
}

// right
.detail_right {
  display: block;
  width: 45%;
  height: 100vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.detail_right::-webkit-scrollbar {
  width: 0;
}

.review-section {
  width: 500px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}

.review {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 10px;
}

.review:last-child {
  border-bottom: none;
}

.review > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.review .username {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.review .age-gender {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.review .content {
  margin-top: 10px;
  font-size: 14px;
}

.review-button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #ff385c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  bottom: 20px;
  left: 50%;
  transform: translateX(70%);
  margin-top: 20px;
}

.review-button:hover {
  opacity: 0.9;
}

.map {
  border-top: 1px solid #ccc;
}

.map h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map > img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}
