#mypage {

  .top-line {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #f7f7f7;
  }

  .mypage-container {
    display: flex;
    width: 100%;
    height: 79vh;

    .side__menu {
      width: 15%;

      .side__title {
        display: flex;
        flex-direction: column;

        >a {
          padding: 20px;
          text-align: center;
          cursor: pointer;
          color: var(--white);

          &.active {
            border-radius: 0 50px 50px 0;
            transition: all 0.3s;
            background-color: #ff93ac;
            color: var(--white);
          }
        }
      }
    }

    .mypage_contents_wrap {
      width: 85%;
      margin-left: 20px;
      margin-top: 1rem;

      .mypage_profile {
        display: block;

        >form {
          margin-left: 40px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          >h2 {
            font-size: 28px;
            font-weight: 500;
          }

          >div {
            >p {
              width: 240px;
              height: 48px;
              display: flex;
              align-items: center;
            }
          }


          >div {
            display: flex;
            align-items: center;
            justify-content: flex-start;


            >label {
              width: 240px;
            }

            >input {
              width: 320px;
            }
          }

          .slide_pass {
            display: flex;
            align-items: center;

            .input-container {
              position: relative;
            }

            .toggle-icon {
              position: absolute;
              right: 8px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              font-size: 18px;
              color: rgb(51 51 51 / 27%);
              width: 30px;
              text-align: center;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;


            >button {
              border: 0;
              width: 136px;
              height: 56px;
              background-color: #2460F9;
              border-radius: 0.5rem;
              font-size: 16px;
              color: var(--baseColor);
              font-weight: 600;
              transition: all 0.3s;
              margin-top: 80px;

              &:hover {
                background-color: var(--baseColor);
                color: #2460F9;
                border: 1px solid #2460F9;
              }
            }
          }
        }

      }

      .mypage_custom {
        display: none;
        margin-left: 40px;
        width: 630px;

        >h2 {
          margin: 40px 0;
          font-size: 28px;
          font-weight: 500;
        }

        .box_wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          margin-top: 10px;

          .box {
            width: 200px;
            height: 250px;
            border: 1px solid var(--pointColor1);
            cursor: pointer;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            .image_box {
              width: 180px;
              height: 180px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }

            >p {
              color: var(--blackColor200);
              font-size: 14px;
              padding-top: 10px;
            }
          }

        }
      }
    }
  }
}