.mypage_top {
  width: 100%;
  margin-top: 3rem;
  border: 1px solid #f7f7f7;
}

.mypage_info {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.mypage_left {
  width: 20%;
  height: 20vh;
  margin-top: 3rem;
  border-right: 1px solid #000;

  >ul {
    font-family: var(--fontF);
    font-size: 25px;
    text-align: left;
    margin-left: 1.5rem;
  }

  >ul a {
    color: #000;
    text-decoration: none;
  }

  >ul a.active {
    color: #ff5a79;
  }
}

.mypage_right {
  width: 50%;
  margin-top: 3rem;
  margin-left: 3rem;

  .mypage01 {
    margin-bottom: 2rem;

    >h2 {
      font-size: 30px;
      font-weight: bold;
    }

    .myprofile {
      text-align: center;

      .image-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin: 0 auto;

        .circle-image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .my_btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 10px 20px;
        background-color: #ff5a79;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ff5a79;
        }
      }
    }
  }

  .mypage02 {
    width: 100%;
    margin-top: 4rem;

    >h2 {
      font-size: 30px;
      font-weight: bold;
    }

    .profile-info {
      margin-top: 20px;

      .info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .info-label {
          font-weight: bold;
        }

        .info-edit {
          display: flex;
          align-items: center;

          >input {
            width: 100%;
            padding: 10px;
          }
        }

        .info-display {
          display: flex;
          align-items: center;
        }

        .my_btn2 {
          padding: 8px 15px;
          border: none;
          border-radius: 4px;
          background-color: #ff5a79;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: #ff5a79;
          }
        }
      }
    }
  }
}