#mypage {
  .top-line {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #f7f7f7;
  }

  .mypage-container {
    height: 100vh;
    display: flex;
    width: 100%;

    .mypage-menu {
      background-color: #ffc2cd;
      height: 100%;
      width: 15%;

      .mypage-btn,
      .my-activities-btn {
        padding: 15px 20px;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        border: 0;
        text-align: left;
        transition: all 0.3s;
        color: var(--white);
        font-family: var(--fontF);
        background-color: #ffc2cd;
        cursor: pointer;
        &:hover {
          width: 100%;
          background-color: #ff93ac;
          opacity: 1;
        }

        &.active {
          background-color: #ff93ac;
        }
      }
    }
    .mypage-section {
      width: 85%;
      margin-top: 2rem;
      position: relative;

      > h1 {
        text-align-last: left;
        font-size: 30px;
        border-bottom: 1px solid #ccc;
        width: 18%;
      }

      .uesr_info {
        display: flex;
        .user_left {
          > img {
            width: 50%;
            height: 100%;
            border-radius: 100%;
          }
        }
        .user_right {
        }
      }
    }
  }
}
