#mypage {
  .top-line {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #f7f7f7;
  }

  .mypage-container {
    height: 100vh;
    display: flex;
    width: 100%;

    .mypage-menu {
      background-color: #ffc2cd;
      height: 100%;
      width: 15%;

      .mypage-btn,
      .my-activities-btn {
        padding: 15px 20px;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        border: 0;
        text-align: left;
        transition: all 0.3s;
        color: var(--white);
        font-family: var(--fontF);
        background-color: #ffc2cd;
        cursor: pointer;
        &:hover {
          width: 100%;
          background-color: #ff93ac;
          opacity: 1;
        }

        &.active {
          background-color: #ff93ac;
        }
      }
    }
    .mypage-section {
      width: 85%;
      margin-top: 2rem;
      z-index: 1;

      > h1 {
        text-align-last: left;
        font-size: 30px;
        border-bottom: 1px solid #ccc;
        width: 18%;
      }

      .user_info {
        display: flex;
        width: 100%;

        .user_left {
          width: 50%;

          .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }

          .profile-chg {
            width: 15%;
            padding: 10px 20px;
            background-color: #ff93ac;
            font-size: 16px;
            color: var(--white);
            transform: translate(285%);
            border: none;
            border-radius: 50px;
            cursor: pointer;
          }
        }

        .user_right {
          margin-top: 10px;
          padding: 20px;
          border-radius: 20px;

          .My-Info-box {
            padding: 0 0 10px 0;
            font-size: 20px;
            width: 90%;
            display: block;
            margin: 0 auto;
            text-align: center;
          }
          .nickname {
            background-color: #fff;
            width: 20%;
            text-align: center;
            border-radius: 10px;
            padding: 5px;
            margin: 0 auto;
            border: 1px solid #adadad;
            > span {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .section-right {
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 8px;

      > h1 {
        text-align-last: left;
        font-size: 30px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #ccc;
        width: 18%;
      }

      .info-row {
        display: flex;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 0.2rem;
        border: 1px solid #ccc;
        border-radius: 5px;

        .info-label {
          flex: 1;
          padding: 5.5px;
          font-weight: bold;
          color: var(--white);
          background-color: #ccc;
        }

        .info-input {
          flex: 2;
          padding: 10px 15px;
          border: none;
        }
      }
      .confirm-button {
        width: 15%;
        padding: 10px 20px;
        background-color: #ff93ac;
        font-size: 16px;
        color: var(--white);
        transform: translate(285%);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 1rem;
        transition: background-color 0.3s ease;
      }
    }
  }
}
